{
  "openapi": "3.1.1",
  "info": {
    "title": "Scalar API",
    "description": "Manage Scalar platform resources programmatically. The Scalar API lets teams create and update API references, schemas, guides, rulesets, themes, login portals, namespaces, and access controls from automated workflows or custom internal tooling. Use it to keep documentation and developer portals in sync with your source of truth, publish new versions safely, and inspect the teams and authenticated user context available to your integration.",
    "version": "0.1.5",
    "contact": {
      "name": "Marc from Scalar",
      "url": "https://scalar.com",
      "email": "support@scalar.com"
    }
  },
  "servers": [
    {
      "url": "https://access.scalar.com"
    }
  ],
  "tags": [
    {
      "name": "Registry",
      "description": "Registry",
      "x-scalar-order": [
        "api/tag/registry/GET/v1/apis",
        "api/tag/registry/GET/v1/apis/{namespace}",
        "api/tag/registry/POST/v1/apis/{namespace}",
        "api/tag/registry/PATCH/v1/apis/{namespace}/{slug}",
        "api/tag/registry/DELETE/v1/apis/{namespace}/{slug}",
        "api/tag/registry/GET/v1/apis/{namespace}/{slug}/version/{semver}",
        "api/tag/registry/PATCH/v1/apis/{namespace}/{slug}/version/{semver}",
        "api/tag/registry/DELETE/v1/apis/{namespace}/{slug}/version/{semver}",
        "api/tag/registry/GET/v1/apis/{namespace}/{slug}/version/{semver}/metadata",
        "api/tag/registry/POST/v1/apis/{namespace}/{slug}/version",
        "api/tag/registry/POST/v1/apis/{namespace}/{slug}/access-group",
        "api/tag/registry/DELETE/v1/apis/{namespace}/{slug}/access-group"
      ]
    },
    {
      "name": "Schemas",
      "description": "Schemas",
      "x-scalar-order": [
        "api/tag/schemas/GET/v1/schemas/{namespace}",
        "api/tag/schemas/POST/v1/schemas/{namespace}",
        "api/tag/schemas/PATCH/v1/schemas/{namespace}/{slug}",
        "api/tag/schemas/DELETE/v1/schemas/{namespace}/{slug}",
        "api/tag/schemas/GET/v1/schemas/{namespace}/{slug}/version/{semver}",
        "api/tag/schemas/DELETE/v1/schemas/{namespace}/{slug}/version/{semver}",
        "api/tag/schemas/POST/v1/schemas/{namespace}/{slug}/version",
        "api/tag/schemas/POST/v1/schemas/{namespace}/{slug}/access-group",
        "api/tag/schemas/DELETE/v1/schemas/{namespace}/{slug}/access-group"
      ]
    },
    {
      "name": "Login Portals",
      "description": "Login Portals",
      "x-scalar-order": [
        "api/tag/login-portals/GET/v1/login-portals/{slug}",
        "api/tag/login-portals/PATCH/v1/login-portals/{slug}",
        "api/tag/login-portals/DELETE/v1/login-portals/{slug}",
        "api/tag/login-portals/POST/v1/login-portals",
        "api/tag/login-portals/GET/v1/login-portals"
      ]
    },
    {
      "name": "Rules",
      "description": "Rules",
      "x-scalar-order": [
        "api/tag/rules/GET/v1/rulesets/{namespace}",
        "api/tag/rules/POST/v1/rulesets/{namespace}",
        "api/tag/rules/PATCH/v1/rulesets/{namespace}/{slug}",
        "api/tag/rules/DELETE/v1/rulesets/{namespace}/{slug}",
        "api/tag/rules/GET/v1/rulesets/{namespace}/{slug}",
        "api/tag/rules/POST/v1/rulesets/{namespace}/{slug}/access-group",
        "api/tag/rules/DELETE/v1/rulesets/{namespace}/{slug}/access-group"
      ]
    },
    {
      "name": "Themes",
      "description": "Themes",
      "x-scalar-order": [
        "api/tag/themes/GET/v1/themes",
        "api/tag/themes/POST/v1/themes",
        "api/tag/themes/PATCH/v1/themes/{slug}",
        "api/tag/themes/PUT/v1/themes/{slug}",
        "api/tag/themes/DELETE/v1/themes/{slug}",
        "api/tag/themes/GET/v1/themes/{slug}"
      ]
    },
    {
      "name": "Teams",
      "description": "Teams",
      "x-scalar-order": [
        "api/tag/teams/GET/v1/teams"
      ]
    },
    {
      "name": "Scalar Docs",
      "description": "Scalar Docs",
      "x-scalar-order": [
        "api/tag/scalar-docs/GET/v1/guides",
        "api/tag/scalar-docs/POST/v1/guides",
        "api/tag/scalar-docs/POST/v1/guides/{slug}/publish"
      ]
    },
    {
      "name": "Namespaces",
      "description": "Namespaces",
      "x-scalar-order": [
        "api/tag/namespaces/GET/v1/namespaces"
      ]
    },
    {
      "name": "Authentication",
      "description": "Authentication",
      "x-scalar-order": [
        "api/tag/authentication/POST/v1/auth/exchange",
        "api/tag/authentication/GET/v1/auth/me"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "400": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "description": "Bad request error response."
      },
      "401": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "description": "Unauthorized error response."
      },
      "403": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "description": "Forbidden error response."
      },
      "404": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "description": "Not found error response."
      },
      "422": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "description": "Validation error response."
      },
      "500": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "description": "Internal server error response."
      },
      "api-document": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "version": {
            "$ref": "#/components/schemas/version"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean",
            "description": "Whether the resource is private."
          },
          "tags": {
            "default": [],
            "description": "Tags associated with the resource."
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/managed-doc-version"
            },
            "description": "Available versions for the resource."
          }
        },
        "required": [
          "uid",
          "version",
          "title",
          "slug",
          "description",
          "namespace",
          "isPrivate",
          "tags",
          "versions"
        ],
        "additionalProperties": false,
        "description": "API document metadata."
      },
      "nanoid": {
        "type": "string",
        "minLength": 5,
        "description": "Unique Nano ID identifier."
      },
      "version": {
        "type": "string",
        "minLength": 1,
        "description": "Semantic or display version string."
      },
      "slug": {
        "type": "string",
        "minLength": 3,
        "maxLength": 60,
        "pattern": "^[a-z](?:[a-z0-9-]*[a-z0-9])?$",
        "description": "URL-safe slug identifier."
      },
      "namespace": {
        "type": "string",
        "minLength": 3,
        "maxLength": 50,
        "pattern": "^[a-zA-Z0-9-_]+$",
        "description": "Workspace namespace identifier."
      },
      "managed-doc-version": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "type": "number",
            "description": "Timestamp when the resource was created."
          },
          "version": {
            "$ref": "#/components/schemas/version"
          },
          "upgraded": {
            "default": false,
            "type": "boolean",
            "description": "Whether the version was upgraded."
          },
          "embedStatus": {
            "default": null,
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "complete",
                  "failed"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "Current embedding status."
          },
          "tags": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the resource."
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Operation path."
                },
                "method": {
                  "$ref": "#/components/schemas/method"
                },
                "enabledTools": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "execute-request",
                      "get-mini-openapi-spec"
                    ]
                  },
                  "description": "Enabled tools for the operation."
                }
              },
              "required": [
                "path",
                "method",
                "enabledTools"
              ],
              "additionalProperties": false
            },
            "description": "Tool configuration for documented operations."
          },
          "yamlSha": {
            "type": "string",
            "description": "SHA hash of the YAML document."
          },
          "jsonSha": {
            "type": "string",
            "description": "SHA hash of the JSON document."
          },
          "versionSha": {
            "type": "string",
            "description": "SHA hash of the version contents."
          }
        },
        "required": [
          "uid",
          "createdAt",
          "version",
          "upgraded",
          "embedStatus",
          "tags"
        ],
        "additionalProperties": false,
        "description": "Managed API document version metadata."
      },
      "method": {
        "type": "string",
        "enum": [
          "delete",
          "get",
          "head",
          "options",
          "patch",
          "post",
          "put",
          "trace"
        ],
        "description": "HTTP method."
      },
      "access-group": {
        "type": "object",
        "properties": {
          "accessGroupSlug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "accessGroupSlug"
        ],
        "additionalProperties": false,
        "description": "Access group assignment payload."
      },
      "schema": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean",
            "description": "Whether the resource is private."
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/managed-schema-version"
            },
            "description": "Available versions for the resource."
          }
        },
        "required": [
          "uid",
          "title",
          "description",
          "slug",
          "namespace",
          "isPrivate",
          "versions"
        ],
        "additionalProperties": false,
        "description": "Schema metadata."
      },
      "managed-schema-version": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "version": {
            "default": "0.0.1",
            "$ref": "#/components/schemas/version"
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "version"
        ],
        "additionalProperties": false,
        "description": "Managed schema version metadata."
      },
      "timestamp": {
        "type": "integer",
        "minimum": 0,
        "maximum": 9007199254740991,
        "description": "Unix timestamp in milliseconds."
      },
      "uid": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          }
        },
        "required": [
          "uid"
        ],
        "additionalProperties": false,
        "description": "Object UID wrapper."
      },
      "login-portal-email": {
        "type": "object",
        "properties": {
          "logo": {
            "default": "",
            "type": "string",
            "description": "Logo image URL or data URI."
          },
          "logoSize": {
            "default": "100",
            "type": "string",
            "description": "Rendered logo size."
          },
          "buttonText": {
            "default": "Login",
            "type": "string",
            "maxLength": 50,
            "description": "Call-to-action button text."
          },
          "message": {
            "default": "Click to access private documentation hosted by scalar.com",
            "type": "string",
            "maxLength": 1000
          },
          "title": {
            "default": "Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "mainColor": {
            "default": "#2a2f45",
            "type": "string",
            "maxLength": 100,
            "description": "Primary foreground color."
          },
          "mainBackground": {
            "default": "#f6f6f6",
            "type": "string",
            "maxLength": 100,
            "description": "Primary background color."
          },
          "cardColor": {
            "default": "2a2f45",
            "type": "string",
            "maxLength": 100,
            "description": "Card foreground color."
          },
          "cardBackground": {
            "default": "#fff",
            "type": "string",
            "maxLength": 100,
            "description": "Card background color."
          },
          "buttonColor": {
            "default": "#fff",
            "type": "string",
            "maxLength": 100,
            "description": "Button foreground color."
          },
          "buttonBackground": {
            "default": "#0f0f0f",
            "type": "string",
            "maxLength": 100,
            "description": "Button background color."
          }
        },
        "required": [
          "logo",
          "logoSize",
          "buttonText",
          "message",
          "title",
          "mainColor",
          "mainBackground",
          "cardColor",
          "cardBackground",
          "buttonColor",
          "buttonBackground"
        ],
        "additionalProperties": false,
        "description": "Login portal email appearance settings."
      },
      "login-portal-page": {
        "type": "object",
        "properties": {
          "title": {
            "default": "Scalar Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "Login to access your documentation",
            "type": "string",
            "maxLength": 500
          },
          "head": {
            "default": "",
            "type": "string",
            "description": "Custom HTML inserted into the page head."
          },
          "script": {
            "default": "",
            "type": "string",
            "description": "Custom script content for the page."
          },
          "theme": {
            "default": "",
            "type": "string",
            "description": "Theme identifier or theme settings."
          },
          "companyName": {
            "default": "",
            "type": "string",
            "maxLength": 100,
            "description": "Company name shown on the page."
          },
          "logo": {
            "default": "",
            "type": "string",
            "description": "Logo image URL or data URI."
          },
          "logoURL": {
            "default": "",
            "type": "string",
            "description": "URL the logo links to."
          },
          "favicon": {
            "default": "",
            "type": "string",
            "description": "Favicon URL."
          },
          "termsLink": {
            "default": "",
            "type": "string",
            "description": "Terms of service URL."
          },
          "privacyLink": {
            "default": "",
            "type": "string",
            "description": "Privacy policy URL."
          },
          "formTitle": {
            "default": "Scalar Private Docs",
            "type": "string",
            "maxLength": 100,
            "description": "Title shown above the form."
          },
          "formDescription": {
            "default": "Login to access your documentation",
            "type": "string",
            "maxLength": 500,
            "description": "Description shown above the form."
          },
          "formImage": {
            "default": "",
            "type": "string",
            "description": "Image shown with the form."
          }
        },
        "required": [
          "title",
          "description",
          "head",
          "script",
          "theme",
          "companyName",
          "logo",
          "logoURL",
          "favicon",
          "termsLink",
          "privacyLink",
          "formTitle",
          "formDescription",
          "formImage"
        ],
        "additionalProperties": false,
        "description": "Login portal page appearance and content settings."
      },
      "login-portal": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "uid",
          "title",
          "slug"
        ],
        "additionalProperties": false,
        "description": "Login portal summary."
      },
      "rule": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean",
            "description": "Whether the resource is private."
          }
        },
        "required": [
          "uid",
          "title",
          "description",
          "slug",
          "namespace",
          "isPrivate"
        ],
        "additionalProperties": false,
        "description": "Ruleset metadata."
      },
      "theme": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "uid",
          "name",
          "description",
          "slug"
        ],
        "additionalProperties": false,
        "description": "Theme metadata."
      },
      "team": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "$ref": "#/components/schemas/team-name"
          },
          "imageUri": {
            "$ref": "#/components/schemas/team-image"
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          },
          "theme": {
            "type": "string",
            "description": "Theme identifier or theme settings."
          }
        },
        "required": [
          "uid",
          "name",
          "slug",
          "theme"
        ],
        "additionalProperties": false,
        "description": "Team metadata."
      },
      "team-name": {
        "type": "string",
        "description": "Team display name."
      },
      "team-image": {
        "type": "string",
        "description": "Team image URL."
      },
      "github-project": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "name": {
            "type": "string"
          },
          "activeDeployment": {
            "default": null,
            "anyOf": [
              {
                "$ref": "#/components/schemas/active-deployment"
              },
              {
                "type": "null"
              }
            ],
            "description": "Currently active deployment."
          },
          "lastPublished": {
            "default": null,
            "anyOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              },
              {
                "type": "null"
              }
            ],
            "description": "Timestamp of the most recent publish."
          },
          "lastPublishedUid": {
            "default": null,
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "UID of the most recent publish."
          },
          "loginPortalUid": {
            "default": "",
            "type": "string",
            "description": "Associated login portal UID."
          },
          "activeThemeId": {
            "default": "",
            "type": "string",
            "description": "Active theme identifier."
          },
          "typesenseId": {
            "type": "number",
            "description": "Typesense search index identifier."
          },
          "isPrivate": {
            "default": false,
            "type": "boolean",
            "description": "Whether the resource is private."
          },
          "agentEnabled": {
            "default": false,
            "type": "boolean",
            "description": "Whether the agent experience is enabled."
          },
          "accessGroups": {
            "default": [],
            "description": "Access groups allowed to access the resource."
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          },
          "publishStatus": {
            "default": "",
            "type": "string",
            "description": "Current publish status."
          },
          "publishMessage": {
            "default": "",
            "type": "string",
            "description": "Message describing the latest publish status."
          },
          "repository": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/github-project-repository"
              },
              {
                "type": "null"
              }
            ],
            "description": "Linked GitHub repository."
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "name",
          "activeDeployment",
          "lastPublished",
          "lastPublishedUid",
          "loginPortalUid",
          "activeThemeId",
          "isPrivate",
          "agentEnabled",
          "accessGroups",
          "slug",
          "publishStatus",
          "publishMessage"
        ],
        "additionalProperties": false,
        "description": "GitHub-backed project metadata."
      },
      "active-deployment": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique identifier for the resource."
          },
          "domain": {
            "type": "string",
            "description": "Published domain."
          },
          "publishedAt": {
            "$ref": "#/components/schemas/timestamp"
          }
        },
        "required": [
          "uid",
          "domain",
          "publishedAt"
        ],
        "additionalProperties": false,
        "description": "Active deployment metadata."
      },
      "github-project-repository": {
        "type": "object",
        "properties": {
          "linkedBy": {
            "type": "string",
            "description": "User or integration that linked the repository."
          },
          "id": {
            "type": "number",
            "description": "Provider-specific identifier."
          },
          "name": {
            "type": "string",
            "minLength": 2
          },
          "configPath": {
            "default": "",
            "type": "string",
            "description": "Path to the Scalar configuration file."
          },
          "branch": {
            "default": "",
            "type": "string",
            "description": "Git branch used for publishing."
          },
          "publishOnMerge": {
            "default": false,
            "type": "boolean",
            "description": "Whether merges trigger publishing."
          },
          "publishPreviews": {
            "default": false,
            "type": "boolean",
            "description": "Whether preview deployments are published."
          },
          "prComments": {
            "default": false,
            "type": "boolean",
            "description": "Whether pull request comments are enabled."
          },
          "expired": {
            "default": false,
            "type": "boolean",
            "description": "Whether the repository link has expired."
          }
        },
        "required": [
          "linkedBy",
          "id",
          "name",
          "configPath",
          "branch",
          "publishOnMerge",
          "publishPreviews",
          "prComments",
          "expired"
        ],
        "additionalProperties": false,
        "description": "Linked GitHub repository settings."
      },
      "email": {
        "type": "string",
        "format": "email",
        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$",
        "description": "Email address."
      },
      "team-summary": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "$ref": "#/components/schemas/team-name"
          },
          "imageUri": {
            "$ref": "#/components/schemas/team-image"
          }
        },
        "required": [
          "uid",
          "name"
        ],
        "additionalProperties": false,
        "description": "Team summary."
      },
      "user": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "theme": {
            "type": "string",
            "description": "Theme identifier or theme settings."
          },
          "activeTeamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Currently active team ID."
          },
          "hasGithub": {
            "default": false,
            "type": "boolean",
            "description": "Whether the user has connected GitHub."
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/team-summary"
            },
            "description": "Teams available to the user."
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "email",
          "activeTeamId",
          "hasGithub",
          "teams"
        ],
        "additionalProperties": false,
        "description": "Authenticated user profile."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/apis": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "List all API documents across every namespace the caller can access.",
        "summary": "List all API Documents",
        "operationId": "listAllApiDocuments",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api-document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.listAllApiDocuments();\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.listAllApiDocuments();\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "parameters": [],
        "x-scalar-sdk-method": {
          "name": "listAllApiDocuments",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/apis/{namespace}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "List API documents in a namespace.",
        "summary": "List API Documents",
        "operationId": "listApiDocuments",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api-document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.listApiDocuments({\n    namespace: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.listApiDocuments({\n    namespace: \"namespace\",\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "listApiDocuments",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      },
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Create an API document.",
        "summary": "Create API Document",
        "operationId": "createApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "Unique identifier for the resource."
                    },
                    "versionUid": {
                      "type": "string",
                      "description": "UID of the created version."
                    },
                    "title": {
                      "type": "string"
                    },
                    "jsonSha": {
                      "type": "string",
                      "description": "SHA hash of the JSON document."
                    },
                    "yamlSha": {
                      "type": "string",
                      "description": "SHA hash of the YAML document."
                    },
                    "versionSha": {
                      "type": "string",
                      "description": "SHA hash of the version contents."
                    }
                  },
                  "required": [
                    "uid",
                    "versionUid",
                    "title",
                    "jsonSha",
                    "yamlSha",
                    "versionSha"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "slug": {
                    "type": "string",
                    "description": "URL-safe resource slug."
                  },
                  "ruleset": {
                    "type": "string",
                    "description": "Ruleset contents."
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Whether the resource is private."
                  },
                  "document": {
                    "type": "string",
                    "description": "OpenAPI, schema, theme, or guide document contents."
                  }
                },
                "required": [
                  "title",
                  "version",
                  "slug",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.createApiDocument({\n    namespace: \"<value>\",\n    requestBody: {\n      title: \"<value>\",\n      version: \"<value>\",\n      slug: \"<value>\",\n      document: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.createApiDocument({\n    namespace: \"namespace\",\n    body: {\n      title: \"\",\n      version: \"\",\n      slug: \"\",\n      document: \"\",\n    },\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "createApiDocument",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/apis/{namespace}/{slug}": {
      "patch": {
        "tags": [
          "Registry"
        ],
        "description": "Update metadata for an API document.",
        "summary": "Update API Document metadata",
        "operationId": "updateApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Whether the resource is private."
                  },
                  "ruleset": {
                    "type": "string",
                    "description": "Ruleset contents."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.updateApiDocument({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.updateApiDocument({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    body: {},\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "updateApiDocument",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Delete an API document and all versions.",
        "summary": "Delete API Document",
        "operationId": "deleteApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.deleteApiDocument({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.deleteApiDocument({\n    namespace: \"namespace\",\n    slug: \"slug\",\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "deleteApiDocument",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/apis/{namespace}/{slug}/version/{semver}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "Get a specific API document version.",
        "summary": "Get API Document",
        "operationId": "getApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true,
            "description": "Version identifier to operate on."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.getApiDocumentVersion({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    semver: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.retrieveApiDocumentVersion({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    semver: \"semver\",\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "retrieveApiDocumentVersion",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      },
      "patch": {
        "tags": [
          "Registry"
        ],
        "description": "Update the registry file content for an API document version.",
        "summary": "Update API Document version",
        "operationId": "updateApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonSha": {
                      "type": "string",
                      "description": "SHA hash of the JSON document."
                    },
                    "yamlSha": {
                      "type": "string",
                      "description": "SHA hash of the YAML document."
                    },
                    "versionSha": {
                      "type": "string",
                      "description": "SHA hash of the version contents."
                    }
                  },
                  "required": [
                    "jsonSha",
                    "yamlSha",
                    "versionSha"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "description": "OpenAPI, schema, theme, or guide document contents."
                  },
                  "lastKnownVersionSha": {
                    "type": "string",
                    "description": "Last known version SHA used for optimistic concurrency."
                  }
                },
                "required": [
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true,
            "description": "Version identifier to operate on."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.updateApiDocumentVersion({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    semver: \"<value>\",\n    requestBody: {\n      document: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.updateApiDocumentVersion({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    semver: \"semver\",\n    body: {\n      document: \"\",\n    },\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "updateApiDocumentVersion",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Delete a specific API document version.",
        "summary": "Delete API Document version",
        "operationId": "deleteApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true,
            "description": "Version identifier to operate on."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.deleteApiDocumentVersion({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    semver: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.deleteApiDocumentVersion({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    semver: \"semver\",\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "deleteApiDocumentVersion",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/apis/{namespace}/{slug}/version/{semver}/metadata": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "Get metadata (uid, content shas, version sha, tags) for a specific API document version.",
        "summary": "Get API Document version metadata",
        "operationId": "getApiDocumentVersionMetadata",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/managed-doc-version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true,
            "description": "Version identifier to operate on."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.getApiDocumentVersionMetadata({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    semver: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.listApiDocumentVersionMetadata({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    semver: \"semver\",\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "listApiDocumentVersionMetadata",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/apis/{namespace}/{slug}/version": {
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Create a new API document version.",
        "summary": "Create API Document version",
        "operationId": "createApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/managed-doc-version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "document": {
                    "type": "string",
                    "description": "OpenAPI, schema, theme, or guide document contents."
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Whether to force the operation."
                  },
                  "lastKnownVersionSha": {
                    "type": "string",
                    "description": "Last known version SHA used for optimistic concurrency."
                  }
                },
                "required": [
                  "version",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.createApiDocumentVersion({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    requestBody: {\n      version: \"<value>\",\n      document: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.createApiDocumentVersion({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    body: {\n      version: \"\",\n      document: \"\",\n    },\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "createApiDocumentVersion",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/apis/{namespace}/{slug}/access-group": {
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Add an access group to an API document.",
        "summary": "Add access group",
        "operationId": "addApiDocumentAccessGroup",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-group"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.addApiDocumentAccessGroup({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    accessGroup: {\n      accessGroupSlug: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.createApiDocumentAccessGroup({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    body: {\n      accessGroupSlug: \"\",\n    },\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "createApiDocumentAccessGroup",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Remove an access group from an API document.",
        "summary": "Remove access group",
        "operationId": "removeApiDocumentAccessGroup",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-group"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.registry.removeApiDocumentAccessGroup({\n    namespace: \"<value>\",\n    slug: \"<value>\",\n    accessGroup: {\n      accessGroupSlug: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.registry.deleteApiDocumentAccessGroup({\n    namespace: \"namespace\",\n    slug: \"slug\",\n    body: {\n      accessGroupSlug: \"\",\n    },\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "deleteApiDocumentAccessGroup",
          "resourcePath": [
            "registry"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/schemas/{namespace}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "description": "List schemas in a namespace.",
        "summary": "List all shared components",
        "operationId": "listSchemas",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/schema"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.schemas.listSchemas({\n    namespace: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.schemas.list({\n    namespace: \"namespace\",\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "list",
          "resourcePath": [
            "schemas"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      },
      "post": {
        "tags": [
          "Schemas"
        ],
        "description": "Create a schema in a namespace.",
        "summary": "Create a shared component",
        "operationId": "createSchema",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uid"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "slug": {
                    "type": "string",
                    "description": "URL-safe resource slug."
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Whether the resource is private."
                  },
                  "document": {
                    "type": "string",
                    "description": "OpenAPI, schema, theme, or guide document contents."
                  }
                },
                "required": [
                  "title",
                  "version",
                  "slug",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { Scalar } from \"@scalar/sdk\";\n\nconst scalar = new Scalar({\n  bearerAuth: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await scalar.schemas.createSchema({\n    namespace: \"<value>\",\n    requestBody: {\n      title: \"<value>\",\n      version: \"<value>\",\n      slug: \"<value>\",\n      document: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "TypeScript",
            "label": "Node",
            "source": "import Scalar from \"@scalar/sdk\";\n\nconst client = new Scalar({\n  bearer_auth: process.env[\"BEARER_AUTH\"], // defaults to the BEARER_AUTH env var\n});\n\nasync function main() {\n  const result = await client.schemas.create({\n    namespace: \"namespace\",\n    body: {\n      title: \"\",\n      version: \"\",\n      slug: \"\",\n      document: \"\",\n    },\n  });\n\n  console.log(result);\n}\n\nmain();"
          }
        ],
        "x-scalar-sdk-method": {
          "name": "create",
          "resourcePath": [
            "schemas"
          ],
          "runtime": {
            "defaultRequestOptions": {
              "headers": {}
            }
          }
        },
        "x-scalar-pagination": null
      }
    },
    "/v1/schemas/{namespace}/{slug}": {
      "patch": {
        "tags": [
          "Schemas"
        ],
        "description": "Update schema metadata.",
        "summary": "Update shared component metadata",
        "operationId": "updateSchema",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Whether the resource is private."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workspace namespace identifier."
            },
            "in": "path",
            "name": "namespace",
            "required": true,
            "description": "Workspace namespace that owns the resource."
          },
          {
            "schema": {
              "type": "string",
              "description": "URL-safe slug identifier."
            },
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "URL-safe resource slug."
          }
        ],
        "x-codeSamples": [
          {
            "label": "typescript",
            "lang": "typescript",
[...]
